{% load staticfiles %}
<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="{% static "dashboard/materialize/css/material_icons.css" %}">
      <link rel="stylesheet" href="{% static "dashboard/materialize/css/materialize.min.css" %}">
      <link rel="stylesheet" href="{% static "dashboard/materialize/css/materialize-tags.min.css" %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body ng-app="jobstats_app">
        <nav>
          <div class="nav-wrapper">
            <a href="/" class="brand-logo center">Jobstats</a>
          </div>
        </nav>
        {% block body %}{% endblock %}
        <script src="{% static "dashboard/materialize/js/jquery-2.1.1.min.js" %}"></script>
        <script src="{% static "dashboard/materialize/js/materialize.min.js" %}"></script>
        <script src="{% static "dashboard/materialize/js/materialize-tags.min.js" %}"></script>
        <script src="{% static "dashboard/materialize/js/typeahead.js" %}"></script>
        <script src="{% static "angularapp/js/angular.min.js" %}"></script>
        <script src="{% static "angularapp/js/app.js" %}"></script>
    </body>
  </html>