{% load staticfiles %}
<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="{% static "dashboard/materialize/css/material_icons.css" %}">
      <link rel="stylesheet" href="{% static "dashboard/materialize/css/materialize.css" %}">
      <link rel="stylesheet" href="{% static "dashboard/materialize/css/materialize-tags.css" %}">
      <link rel="stylesheet" href="{% static "dashboard/materialize/css/materialize-nouislider.css" %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>
    <body ng-app="jobstats_app" ng-cloak>
        <nav>
          <div class="nav-wrapper teal lighten-2">
            <a href="/" class="brand-logo center">Jobstats</a>
          </div>
        </nav>
        <main>
        {% block body %}{% endblock %}
        </main>
        <footer class="page-footer teal lighten-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Jobstats</h5>
                <p class="grey-text text-lighten-4">Django, angularjs and infojobs api.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Jobstats
            <a class="grey-text text-lighten-4 right" href="https://github.com/davidlacarta/jobstats">github</github></a>
            </div>
          </div>
        </footer>
        <script src="{% static "dashboard/materialize/js/jquery-2.1.1.min.js" %}"></script>
        <script src="{% static "dashboard/materialize/js/materialize.min.js" %}"></script>
        <script src="{% static "dashboard/materialize/js/materialize-tags.min.js" %}"></script>
        <script src="{% static "dashboard/materialize/js/materialize-nouislider.js" %}"></script>
        <script src="{% static "dashboard/materialize/js/typeahead.js" %}"></script>
        <script src="{% static "angularapp/js/angular.min.js" %}"></script>
        <script src="{% static "angularapp/js/app.js" %}"></script>
    </body>
  </html>