{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jobstats</title>

        <!-- Vendor CSS -->
        <link href="{% static "dashboard/material-design/css/fullcalendar.min.css" %}" rel="stylesheet">
        <link href="{% static "dashboard/material-design/css/animate.min.css" %}" rel="stylesheet">
        <link href="{% static "dashboard/material-design/css/sweet-alert.css" %}" rel="stylesheet">
        <link href="{% static "dashboard/material-design/css/material-design-iconic-font.min.css" %}" rel="stylesheet">
            
        <!-- CSS -->
        <link href="{% static "dashboard/material-design/css/app.min.1.css" %}" rel="stylesheet">
        <link href="{% static "dashboard/material-design/css/app.min.2.css" %}" rel="stylesheet">
        <link href="{% static "dashboard/material-design/css/materialPreloader.css" %}" rel="stylesheet">
        
        {% block head %}{% endblock %}

    </head>
    <body>
        <section id="main">
            {% block content %}{% endblock %}
        </section>
        
        <footer id="footer">
            Copyright &copy; 2015 Jobstats
            
            <ul class="f-menu">
                <li><a href="/">Home</a></li>
            </ul>
        </footer>
        
        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>   
        <![endif]-->
        
        <!-- Javascript Libraries -->
        <script src="{% static "dashboard/material-design/js/jquery.min.js" %}"></script>
        <script src="{% static "dashboard/material-design/js/bootstrap.min.js" %}"></script>
        
        <script src="{% static "dashboard/material-design/js/jquery.flot.js" %}"></script>
        <script src="{% static "dashboard/material-design/js/jquery.flot.resize.js" %}"></script>
        <script src="{% static "dashboard/material-design/js/curvedLines.js" %}"></script>
        <script src="{% static "dashboard/material-design/js/jquery.sparkline.min.js" %}"></script>
        <script src="{% static "dashboard/material-design/js/jquery.easypiechart.min.js" %}"></script>
        
        <script src="{% static "dashboard/material-design/js/moment.min.js" %}"></script>
        <script src="{% static "dashboard/material-design/js/fullcalendar.min.js" %}"></script>
        <script src="{% static "dashboard/material-design/js/jquery.simpleWeather.min.js" %}"></script>
        <script src="{% static "dashboard/material-design/js/jquery.nicescroll.min.js" %}"></script>
        <script src="{% static "dashboard/material-design/js/waves.min.js" %}"></script>
        <script src="{% static "dashboard/material-design/js/bootstrap-growl.min.js" %}"></script>
        <script src="{% static "dashboard/material-design/js/sweet-alert.min.js" %}"></script>
        
        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="{% static "dashboard/material-design/js/jquery.placeholder.min.js" %}"></script>
        <![endif]-->
        
        <script src="{% static "dashboard/material-design/js/curved-line-chart.js" %}"></script>
        <script src="{% static "dashboard/material-design/js/line-chart.js" %}"></script>
        <script src="{% static "dashboard/material-design/js/charts.js" %}"></script>
        
        <script src="{% static "dashboard/material-design/js/functions.js" %}"></script>
        <!--<script src="{% static "dashboard/material-design/js/demo.js" %}"></script>-->
        <script src="{% static "dashboard/material-design/js/materialPreloader.js" %}"></script>
    </body>
</html>