{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% block body %}

{% trans "province" as province %}
{% trans "job" as job %}
{% trans "offer" as offer %}
{% trans "oportunity" as oportunity %}
{% trans "salary" as salary %}
{% trans "offers in Spain" as header_title %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="header center">Jobstats</h1>
        <div class="row center">
            <h5 class="header col s12 light">{{ offers | intcomma }} {{ header_title }}</h5>
        </div>
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card" ng-controller="provinces_ctr">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            {{ province | title }}s
                            <a class="btn-flat disabled" ng-if="key_prov">
                                [[ prov_count | number:0 ]] 
                            </a>
                            <i class="material-icons right" ng-click="search()">search</i>
                            <input id="jobs_prov" value="programador" type="text" ng-model="key_prov" data-role="materialtags"/>
                        </span>
                        <div class="progress provinces">
                            <div class="indeterminate"></div>
                        </div>
                        <table ng-if="prov_sal">
                            <thead>
                              <tr>
                                  <th data-field="province">{{ province | title }}</th>
                                  <th data-field="rate">{{ salary | title }}</th>
                                  <th data-field="rate">{{ offer | title }}s</th>
                              </tr>
                            </thead>
                            
                            <tbody>
                              <tr ng-model="items" ng-repeat="item in prov_sal | limitTo:5">
                                <td>[[ item[0] ]]</td>
                                <td>[[ (item[1][0] | number:0) + " €" ]]</td>
                                <td>[[ item[1][1] ]]</td>
                              </tr>
                            </tbody>
                        </table>
                        <table ng-if="prov_op">
                            <thead>
                              <tr>
                                  <th data-field="province">{{ province | title }}</th>
                                  <th data-field="rate">{{ oportunity | title }}</th>
                                  <th data-field="rate">{{ offer | title }}s</th>
                              </tr>
                            </thead>
                            
                            <tbody>
                              <tr ng-model="items" ng-repeat="item in prov_op | limitTo:5">
                                <td>[[ item[0] ]]</td>
                                <td>[[ (item[1][0] * 100 | number:0) + " %" ]]</td>
                                <td>[[ item[1][1] ]]</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card" ng-controller="jobs_ctr">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            {{ job | title }}s
                            <a class="btn-flat disabled" ng-if="key_jobs">
                                [[ jobs_count | number:0 ]] 
                            </a>
                            <i class="material-icons right" ng-click="search()">search</i>
                            <input id="jobs_jobs" value="java,camarero" type="text" ng-model="key_jobs" data-role="materialtags"/>
                            <i class="material-icons prefix tooltipped" data-position="left" data-delay="50" data-tooltip="Provincia">location_on</i>
                            <input id="province" value="Madrid" ng-model="province" type="text" />
                        </span>
                        <div class="progress jobs">
                            <div class="indeterminate"></div>
                        </div>
                        <table ng-if="jobs_sal">
                            <thead>
                              <tr>
                                  <th data-field="job">{{ job | title }}s</th>
                                  <th data-field="rate">{{ salary | title }}</th>
                                  <th data-field="rate">{{ offer | title }}s</th>
                              </tr>
                            </thead>
                            
                            <tbody>
                              <tr ng-model="items" ng-repeat="item in jobs_sal">
                                <td>[[ item[0] ]]</td>
                                <td>[[ (item[1][0] | number:0) + " €" ]]</td>
                                <td>[[ item[1][1] ]]</td>
                              </tr>
                            </tbody>
                        </table>
                        <table ng-if="jobs_op">
                            <thead>
                              <tr>
                                  <th data-field="job">{{ job | title }}s</th>
                                  <th data-field="rate">{{ oportunity | title }}</th>
                                  <th data-field="rate">{{ offer | title }}s</th>
                              </tr>
                            </thead>
                            
                            <tbody>
                              <tr ng-model="items" ng-repeat="item in jobs_op">
                                <td>[[ item[0] ]]</td>
                                <td>[[ (item[1][0] * 100 | number:0) + " %" ]]</td>
                                <td>[[ item[1][1] ]]</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}