{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1>Offers</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
            <tr>
            	<th>City</th>
                <th>Title</th>
                <th>Salary min</th>
                <th>Salary max</th>
                <th>applications</th>
            </tr>
        </thead>
        <tbody>
    	{% for offer in offers %}
        	<tr>
        		<td>{{ offer.city }}</td>
				<td>{{ offer.title|lower}}</td>
				<td>{{ offer.salary_min }}</td>
				<td>{{ offer.salary_max }}</td>
				<td>{{ offer.applications }}</td>
			</tr>
		{% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /container -->
{% endblock %}